footer {
    background: $cinza-medio;
    width: 100%;
    position: relative;
    padding: 30px 0;
    height: 200px;
    img {
        position: absolute;
        width: 17%;
        left: -10px;
        opacity: .2;
        transform: scaleX(-1);
        bottom: -20px;
        z-index: 1;
    }

    ul {
        position: relative;
        z-index: 2;

        li {
            width: 30%;
            display: inline-block;
            position: relative;
            padding: 0 100px;
            height: 140px;
            &::after {
                position: absolute;
                background-color: #fff;
                content: '';
                width: 2px;
                height: 100%;
                right: 0px;
                top: 0;
            }
            &:last-child{
                text-align: center;
                iframe{
                    display: inline-block;
                    margin-top: 20px;
                }
                &::after{
                    display: none;
                }
            }

            h3,h4 {
                margin-top: 20px;
                color: #fff;
            }

            p {
                color: #fff;
            }

            a {
                color: #fff;
                font-size: 44px;
                margin: 25px;
                padding: 0px 5px;
                border-radius: 10px;
                transition: 0.2s all linear;
                &:hover{
                    background-color: $vermelho;
                    color: #fff;
                    transition: 0.2s all linear;
                }
            }
            .content-social{
                padding: 40px 0;
                text-align: center;
            }
        }
    }
}

._3ixn{
   display: none !important;
}