header {
    background: url(../img/bg-rose3.jpg);
    background-size: cover;
    z-index: 1;
    @include mq (tablet,max){
        height: 130px;
    }
    .bg-red{
        background-color: $vermelho;
        opacity: .8;
        height: 100%;
        width: 100%;
        z-index: 1;
        position: absolute;
    }
}