#menu {
    position: relative;
    z-index: 3;
    padding: 20px 40px;
    ul {
        margin: 0 auto;
        z-index: 3;
        padding: 20px;
        display: inline-block;

        li {
            display: inline-block;
            margin: 0px 50px;
            font-size: 17px;
            background: #fff0;
            padding: 5px;
            border-radius: 8px;

            &:hover {
                background: #fff;
                transition: 0.3s all linear;
                a {
                    color: $vermelho;
                    transition: 0.3s all linear;

                }
            }

            a {
                color: #fff;
                text-decoration: none;
            }
        }
    }

    .logo {
        display: inline-block;

        img {
            width: 120px;
        }
    }
}
