.banner-slick {

    // Codes
    .banner {
        img {
            width: 100vw;
        }
    }
}

.arrow {
    display: inline-block !important;
    font-size: 24px;
    position: absolute;
    color: #FFF;
    cursor: pointer;
    top: 45%;
    @include mq (tablet,max){
        display: none !important;
    }
    &.arrow-prev {
        left: 5%;
        z-index: 1 !important;
      
    }

    &.arrow-next {
        right: 5%;
        z-index: 1 !important;
       
    }
}