.welcome-dash {
    position: relative;
    img {
        position: absolute;
        width: 270px;
        right: 70px;
        bottom: -100px;
        opacity: .2;
        @include mq (tablet,max){
            right: -40px;
        }
    }

    h2 {
        text-align: center;
        padding: 50px 0 100px;
        position: relative;

        &::after {
            position: absolute;
            content: '';
            width: 50%;
            height: 2px;
            background-color: #000;
            z-index: 1;
            bottom: 50px;
            left: 25%;
        }
    }

    p {
        font-size: 20px;
        @include mq (tablet,max){
            max-width: 80%;
            margin: 0 auto;
            text-align: justify;
        }
    }
}